[submodule "backend"]
	path = poster-laravel-api-server
	url = git://github.com/Chernyh1994/poster-laravel-api-server
[submodule "frontend"]
	path = poster-client-react
	url = git://github.com/Chernyh1994/poster-client-react