[submodule "client"]
	path = client
	url = https://github.com/Chernyh1994/poster-client-react.git
[submodule "server"]
	path = server
	url = https://github.com/Chernyh1994/poster-laravel-api-server.git